body {
    color: #000 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.payments_methods {
    color: #6c757d;
}

.login_register {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}